@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в сладкарница „В гората“</h1>
    <img src="https://c0.wallpaperflare.com/preview/489/682/388/plant-cake-food-dessert.jpg" />
    
</div>
